* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

/* ===== CONTAINER ===== */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* ===== NAVBAR ===== */
.navbar {
    background: #000;
    padding: 15px 0;
}

.logo {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.logo span {
    color: #ff9800;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.nav-links li a.active,
.nav-links li a:hover {
    color: #ff9800;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 22px;
}

/* ===== HEADER ===== */
.page-header {
    background: #ff9800;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

/* ===== SECTION ===== */
section {
    padding: 40px 0;
}

/* ===== PROFILE ===== */
.profile {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.profile img {
    width: 250px;
    border-radius: 10px;
}

/* ===== GALLERY ===== */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-item {
    position: relative;
}

.gallery-item img {
    width: 100%;
    border-radius: 10px;
}

.gallery-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
    border-radius: 10px;

}

.gallery-item:hover .gallery-overlay {
    opacity: 1;
    width:100%;
    height:280px;
    object-fit:cover;
    object-position: top; /* INI YANG PENTING */
    
}

/* ===== CONTACT ===== */
.contact-box {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
}

/* ===== FOOTER ===== */
.footer {
    background: #000;
    color: #fff;
    padding: 30px 0;
    margin-top: 40px;
    text-align: center;
}

/* ===== RESPONSIVE ===== */
@media(max-width:768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #000;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 15px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
